html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display:flex;
  flex-direction: row;
}
.content {
  display: flex;
  flex-direction: row;
  flex: auto;
}

.footer {
  display: flex;
  flex: none;
}
